.node-red/data/flows.json
[
    {
        "id": "ea5e703747705005",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cbcfcb0a896f9765",
        "type": "amqp-config",
        "connectionString": "amqp://rabbitmq"
    },
    {
        "id": "bbe3c2bf3494853d",
        "type": "amqp-input",
        "z": "ea5e703747705005",
        "name": "",
        "amqpServer": "cbcfcb0a896f9765",
        "exchange": "Test",
        "exchangeType": "fanout",
        "routingKey": "",
        "queue": "Test",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "ad189622d10f3966"
            ]
        ]
    },
    {
        "id": "ad189622d10f3966",
        "type": "debug",
        "z": "ea5e703747705005",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "6edcaa30a342930f",
        "type": "amqp-input",
        "z": "ea5e703747705005",
        "name": "",
        "amqpServer": "cbcfcb0a896f9765",
        "exchange": "Test2",
        "exchangeType": "topic",
        "routingKey": "test.*",
        "queue": "Test2",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "9b6cc140501fded9"
            ]
        ]
    },
    {
        "id": "9b6cc140501fded9",
        "type": "debug",
        "z": "ea5e703747705005",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "b6e1bc8cac43d73d",
        "type": "amqp-output",
        "z": "ea5e703747705005",
        "name": "",
        "amqpServer": "cbcfcb0a896f9765",
        "exchange": "Test2",
        "exchangeType": "topic",
        "routingKey": "test.test",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "56ef19c049ed6483",
        "type": "inject",
        "z": "ea5e703747705005",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"test\": 1123 }",
        "payloadType": "json",
        "x": 250,
        "y": 140,
        "wires": [
            [
                "b6e1bc8cac43d73d"
            ]
        ]
    }
]